BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif
}
.ADD {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif
}
A.EMA {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.EMA:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.EMA:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.EMA1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #13b181; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.EMA1:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.EMA1:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.MW {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: ARIAL; TEXT-DECORATION: none
}
A.MW:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: ARIAL; TEXT-DECORATION: none
}
